{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container mt-5" style="width: 80vw;">
    {% if user.is_authenticated %}
        <h1 class="mb-4 text-center text-success"><i class="fas fa-user-check"></i> Bienvenue {{ user.username }}</h1>
        <p class="lead text-center">Vous pouvez ici explorer les offres d'emploi, postuler à des annonces, et gérer votre profil.</p>
        
        <div class="mt-4">
            <div class="card text-center">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">À Faire</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Explorez les Offres d'Emploi</h5>
                    <p class="card-text">Consultez notre large éventail d'offres d'emploi disponibles.</p>
                    <a href="{% url 'job_list' %}" class="btn btn-success">
                        <i class="fas fa-briefcase"></i> Voir les Offres
                    </a>
                </div>
                <div class="card-footer text-muted">
                    Prêt à postuler ?
                </div>
            </div>
        </div>
    {% else %}
        <h1 class="mb-4 text-center text-warning"><i class="fas fa-user-circle"></i> Bienvenue sur notre plateforme de dépôt de candidatures</h1>
        <p class="lead text-center">Veuillez vous <a href="{% url 'login' %}" class="text-primary">connecter</a> pour accéder aux offres d'emploi et postuler.</p>
        <p class="text-center">Pas encore de compte ? <a href="{% url 'register' %}" class="text-primary">Créez-en un ici</a>.</p>
    {% endif %}
</div>
{% endblock %}
