{% extends 'base.html' %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Connexion</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Nom d'utilisateur</label>
            <input type="text" name="username" class="form-control" id="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" name="password" class="form-control" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Connexion</button>
    </form>
    <p>Vous n'avez pas encore de compte ? <a href="{% url 'register' %}">Inscrivez-vous</a></p>
    
    {% if form.errors %}
    <div class="alert alert-danger mt-3">
        {{ form.errors }}
    </div>
    {% endif %}
</div>
{% endblock %}
