{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4 text-primary"><i class="fas fa-paper-plane"></i> Postuler pour {{ job.title }}</h1>
    
    <div class="card shadow-sm">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <p class="lead">Êtes-vous sûr de vouloir postuler à ce poste ?</p>
                
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Confirmer ma candidature</button>
                    <a href="{% url 'job_detail' job.pk %}" class="btn btn-secondary">Retour aux détails de l'offre</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
